{% extends "template.html" %}

{% block title %}Dashboard{% endblock %}

{% block menunow %}DASHBOARD{% endblock %}

{% block menu %}

<ul class="list-unstyled components">
    <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
            <i class="fas fa-home"></i>
            DASHBOARD
        </a>
    </li>
    <li>
        <a href="profil.html">
            <i class="fa fa-user" aria-hidden="true"></i>
            PROFIL
        </a>
    </li>
    <li>
        <a href="isi_kehadiran.html">
            <i class="fa fa-book" aria-hidden="true"></i>
            ISI KEHADIRAN
        </a>
    </li>
    <li>
        <a href="riwayat.html">
            <i class="fa fa-history" aria-hidden="true"></i>
            RIWAYAT
        </a>
    </li>
    
</ul>

{% endblock %}

{% block breadcrumb %}Dashboard{% endblock %}







